body {
  background: #ffebcd;
}

nav,
footer {
  border: 1px solid black;
  background-color: #deb887;
}

.headline {
  color: black;
  font-size: 20px;
}

.table-custom,
form {
  background-color: #deb887;
  border: 2px solid black;
}

.amount-box {
  width: 50px;
  text-align: center;
}

.main {
  box-shadow: 3px 5px 5px 5px grey;
  border-radius: 10px;
}

.converter {
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 50px;
  height: auto;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
}

.country-code {
  text-align: left;
}

.converted-rate {
  text-align: right;
}
